---
import { Image } from "astro:assets";
import { SITE_LOGO } from "../../constants";
import { SITE_DESCRIPTION } from "../../constants";
const bottomLinks = [
  {
    header: 'Social',
    links: [
      {
        name: 'Twitter',
        href: 'https://twitter.com/goncy',
        isExternal: true,
      },
      {
        name: 'YouTube',
        href: 'https://youtube.com/@goncypozzo',
        isExternal: true,
      },
      {
        name: 'Twitch',
        href: 'https://twitch.tv/goncypozzo',
        isExternal: true,
      },
      {
        name: 'Instagram',
        href: 'https://instagram.com/goncy.js',
        isExternal: true,
      },
    ],
  },
  {
    header: 'Links',
    links: [
      {
        name: 'Challenges',
        href: 'https://github.com/goncy/interview-challenges',
        isExternal: true,
      },
      {
        name: 'Learn',
        href: 'https://learn.gonzalopozzo.com',
        isExternal: true,
      },
      {
        name: 'Github',
        href: 'https://github.com/goncy',
        isExternal: true,
      },
      {
        name: 'LinkedIn',
        href: 'https://www.linkedin.com/in/gonzalopozzo/',
        isExternal: true,
      },
    ],
  },
  {
    header: 'Contact',
    links: [
      {
        name: 'Discord',
        href: 'https://discord.gonzalopozzo.com',
        isExternal: true,
      },
      {
        name: 'Email',
        href: 'mailto:gonzalo.pozzo4@gmail.com',
        isExternal: true,
      },
      {
        name: 'LinkedIn',
        href: 'https://www.linkedin.com/in/gonzalopozzo/',
        isExternal: true,
      },
      {
        name: 'Twitter',
        href: 'https://twitter.com/goncy',
        isExternal: true,
      },
    ],
  },
];
---

<footer
  class="mt-12 bg-primary-500/10 py-12 dark:bg-primary-400/10"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl">
    <div class="flex flex-col justify-between gap-9 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6">
        <p class="text-2xl font-bold">{SITE_LOGO}</p>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70">
          {SITE_DESCRIPTION}
        </p>
        <p class="text-sm text-primary-950/70 dark:text-primary-200/70">© 2023 Goncy</p>
      </div>

      <!-- Bottom links -->
      <div class="grid max-w-xl flex-1 grid-cols-1 gap-6 sm:grid-cols-3">
        {
          bottomLinks.map((group) => (
            <div class="flex flex-col gap-3">
              <p class="text-base font-medium">{group.header}</p>
              <ul role="list" class="flex flex-col gap-3">
                {group.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200"
                      target={link.isExternal ? '_blank' : undefined}
                      rel={link.isExternal ? 'noopener' : undefined}
                    >
                      {link.name}
                      {link.isExternal && (
                        <svg
                          class="h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                        </svg>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
