---
import { type CollectionEntry, getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title} description={post.data.description}>
	<section class="flex flex-col gap-6">
		<div class="flex flex-col items-start gap-6 sm:gap-9">
			<a href="/" class="text-primary-950/50 dark:text-primary-200/50">
				← Back to blog
			</a>
			<div class="flex flex-col items-start gap-1.5">
				<h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
					{post.data.title}
				</h1>
				<p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
					{post.data.description}
				</p>
			</div>
			{post.data.heroImage && (
				<img
					transition:name={post.data.heroImage}
					class="h-auto w-full rounded-lg"
					width="1280"
					height="640"
					src={post.data.heroImage}
					alt="Hero picture"
				/>
			)}
			<article id="post">
				<Content />
			</article>
		</div>
	</section>
</Layout>	

<style lang="scss" is:global>
	#post {
		@apply space-y-6 dark:text-primary-200/70 text-primary-950/70 sm:text-xl text-lg;

		h1, h2, h3, h4, h5, h6 {
			@apply font-medium tracking-tight text-lg mt-9 text-primary-950 dark:text-primary-200;
		}

		h1 {
			@apply text-4xl lg:text-6xl sm:text-5xl;
		}

		h2 {
			@apply text-3xl sm:text-4xl;
		}

		h3 {
			@apply text-xl;
		}

		a {
			@apply underline underline-offset-2 dark:text-primary-200/90 text-primary-950/90 hover:dark:text-primary-200 hover:text-primary-950 transition-colors;
		}

		ul {
			@apply space-y-3;

			li {
				@apply flex gap-3;
			}
		}

		ol {
			@apply space-y-3 list-decimal;

			li {
				@apply flex gap-3;
			}
		}

		pre {
			@apply p-4 rounded-lg;
		}

		img {
			@apply rounded-lg;
		}

		hr {
			@apply border-primary-950/10 dark:border-primary-200/10 border-t-2 my-6;
		}
	}
</style>