---
import { type CollectionEntry, getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <section class="flex flex-col gap-6">
    <div class="flex flex-col items-start gap-6 sm:gap-9">
      <a href="/" class="text-primary-950/50 dark:text-primary-200/50"> ← Back to blog</a>
      <div class="flex flex-col items-start gap-1.5">
        <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
          {post.data.title}
        </h1>
        <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
          {post.data.description}
        </p>
      </div>
      {
        post.data.heroImage && (
          <img
            transition:name={post.data.heroImage}
            class="h-auto w-full rounded-lg"
            width="1280"
            height="640"
            src={post.data.heroImage}
            alt="Hero picture"
          />
        )
      }
      <article id="post">
        <Content />
      </article>
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  #post {
    @apply space-y-6 text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-9 text-lg font-medium tracking-tight text-primary-950 dark:text-primary-200;
    }

    h1 {
      @apply text-4xl sm:text-5xl lg:text-6xl;
    }

    h2 {
      @apply text-3xl sm:text-4xl;
    }

    h3 {
      @apply text-xl;
    }

    a {
      @apply text-primary-950/90 underline underline-offset-2 transition-colors hover:text-primary-950 dark:text-primary-200/90 hover:dark:text-primary-200;
    }

    ul {
      @apply space-y-3;

      li {
        @apply flex gap-3;
      }
    }

    ol {
      @apply list-decimal space-y-3;

      li {
        @apply flex gap-3;
      }
    }

    pre {
      @apply rounded-lg p-4;
    }

    img {
      @apply rounded-lg;
    }

    blockquote {
      @apply border-l-4 border-primary-950/10 pl-4 dark:border-primary-200/10;
    }

    hr {
      @apply my-6 border-t-2 border-primary-950/10 dark:border-primary-200/10;
    }
  }
</style>
